/////////////btn///////////////////
///////////////////////////////////
.btn {
    background-color: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

/////////////search-bar/////////
///////////////////////////////////
.search-bar {
    display: flex;
    align-items: center;
    width: 25rem;
    justify-content: space-between;
    padding: 0.3rem;
    height: 4rem;
    border: $input-field-borders;
    &:focus-within {
        border: $input-field-focus-border;
    }
    &__textfield {
        border: none;
        width: 100%;
        &:focus {
            border: none;
            outline: none;
        }
    }

    &__img {
        height: 2rem;
        width: auto;
    }
}

/////////////drop-bar////////////////
/////////////////////////////////////
.drop-bar {
    position: relative;
    width: 15rem;
    &__main {
        width: 100%;

        height: 4rem;
        outline: none;
        border: $input-field-borders;

        &:focus-within {
            border: $input-field-focus-border;
        }
    }
    &__label {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 2rem;
        z-index: 5;
        transform: translateY(-50%);
        background-color: $color-white;
        padding: 0.2rem;
    }
}

/////////////////date-picker///////////////////
///////////////////////////////////////////////

.date-picker {
    position: relative;
    width: 15rem;

    &__main {
        width: 100%;
        height: 4rem;
        outline: none;
        border: $input-field-borders;

        &:focus-within {
            border: $input-field-focus-border;
        }

        &::-webkit-calendar-picker-indicator {
            color: rgba(0, 0, 0, 0);
            opacity: 1;
            background-image: url(../assets//svg/datepicker.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 1rem;
            height: 1rem;
        }
    }
    &__label {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 2rem;
        z-index: 5;
        transform: translateY(-50%);
        background-color: $color-white;
        padding: 0.2rem;
    }
}

////////////////////note-file/////////////////
///////////////////////////////////////////////

.note-file {
    background-color: $color-note-color;
    padding: 1rem 0;
}

////////////////Template component//////////////
////////////////////////////////////////////////

.template-component {
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 1rem 1rem 5rem $color-grey-light-lighter;
    &__paragraph {
        padding: 1rem;
    }
    &__topic {
        padding: 3rem 1rem 0 1rem;
    }
    &__footer {
        color: $color-light-green;
        width: 100%;
        padding: 1rem;
        background-color: #f9f9f9;
        justify-self: flex-end;
    }
}

//////////////template-section///////////
////////////////////////////////////////
.template-section {
    &__amount {
        color: $color-grey;
    }
    &__btn-img {
        display: inline-block;
    }
    .next {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
    &__page span {
        display: inline-block;
        border: 1px solid $color-black;
        padding: 0.3rem 0.5rem;
    }
}
