/////////////////overlayout///////////
//////////////////////////////////////

.layout {
    max-width: 140rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns:
        [page-start] minmax(4rem, 1fr)
        [main-start] repeat(8, 1fr)
        [main-end] minmax(4rem, 1fr) [page-end];

    grid-template-rows: min-content 1fr;
}
@media screen and (max-width: $mediaQuery-large-phone) {
    .layout {
        grid-template-columns:
            [page-start] minmax(4rem, 1fr)
            [main-start] repeat(15, 1fr)
            [main-end] minmax(4rem, 1fr) [page-end];
    }
}
.filters {
    margin-top: 5rem;
    grid-column: main-start/main-end;
    grid-row: 1/2;
}

.templates {
    grid-column: main-start/main-end;
    grid-row: 2/3;
    margin-top: 5rem;
}

///////////////////filter-section///////////
////////////////////////////////////////////
.filter-section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: min-content min-content;
    row-gap: 8rem;

    span {
        display: block;
        width: 10rem;
        align-self: center;
        color: $color-grey-light-dark;
    }
    &__drop-bars {
        grid-column: 5/-1;
        display: flex;
        column-gap: 1rem;
    }
    &__note {
        grid-column: 1/-1;

        .note-file {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            justify-content: center;
        }
    }
    @media screen and (max-width: $mediaQuery-tab-large) {
        &__drop-bars {
            grid-column: 4/-1;
        }
    }
    @media screen and (max-width: $mediaQuery-tab-small) {
        &__drop-bars {
            grid-column: 3/-1;
        }
    }
    @media screen and (max-width: $mediaQuery-tab-smallest) {
        & {
            grid-template-rows: repeat(3, min-content);
            gap: 4rem;
        }
        &__drop-bars {
            grid-column: 1/-1;
        }
    }
}

.template-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: min-content;
    gap: 5rem;
    &__top {
        grid-column: 1/-1;
        grid-row: 1/2;
        display: flex;
        justify-content: space-between;
    }
    &__foot {
        grid-column: 1/-1;
        display: flex;
        justify-content: space-around;
        margin-bottom: 5rem;
    }
}
