$color-grey: grey;
$color-grey-light-dark: rgb(168, 168, 168);
$color-grey-light: rgb(214, 214, 214);
$color-white: #fff;

$input-field-borders: 1px solid $color-grey-light;
$input-field-focus-border: 1px solid $color-grey;
