$color-grey: grey;
$color-grey-light-dark: rgb(168, 168, 168);
$color-grey-light: rgb(214, 214, 214);
$color-grey-light-lighter: rgb(236, 236, 236);
$color-white: #fff;
$color-note-color: #fff4ea;
$color-light-green: #08bd37;

$input-field-borders: 1px solid $color-grey-light;
$input-field-focus-border: 1px solid $color-grey;
