html {
    font-size: 62.5%;
    box-sizing: border-box;

    /* width */
    &::-webkit-scrollbar {
        width: 0.7rem;
    }

    // /* Track */
    // &::-webkit-scrollbar-track {
    //     background: #f1f1f1;
    // }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 0.5rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: black;
    }
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 1.5rem;
    line-height: 1.1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
